<div id="main">
    <button class="btn btn-dark chatbutton" (click)="toggleChat()"><i class="fas fa-comment"></i></button>
    <button class="btn btn-primary" id="startGame" [disabled]="websocket?.activeRoom?.game" (click)="startGame()">Start</button>
    
    <div>
        <app-game> </app-game>
    </div>
    
</div>


<div id="myChatbar" [ngClass]="showChat ? 'chatbarShown' : 'chatbarHide'">
    
    <button class="btn btn-dark" id="toggleChat" (click)="toggleChat()">&times;</button>

    <div class="messages" id="messageView" #messageView *ngIf="websocket.activeRoom?.messages">
        <div class="message" *ngFor="let message of websocket.activeRoom.messages">
            <div class="from">
                {{message.from}}:
            </div> {{message.contents}}
        </div>
    </div>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Message" #message (keyup.enter)="sendMessage(message)">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id='sendMessage' (click)="sendMessage(message)">Send Message</button>
          </div>
    </div>


</div>