
<br> 
<div class="input-group mb-3 col-sm-4">
    <input type="text" class="form-control" placeholder="Room name" #roomName>
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="createRoom(roomName.value)">Create Room</button>
      </div>
</div>

<br>
<br>

<div class="card-columns" style="padding: 1rem">
    <div class="card" *ngFor="let room of webSockets.rooms">
        <div class="card-body">
            <h3 class="card-title">{{room.id}}</h3>

            <h5>Players in game:</h5>
            <h6 *ngFor='let player of room.players'>{{player.playerName}}</h6>
            <button class="btn btn-primary" (click)="joinRoom(room)">Join Room </button>
          </div>
    </div>
</div>


