
<div class="container">
    <div class="row">
        <div class="col-md-12"> 
            <div class="login">
                <h1 class="form-signin-heading text-muted">Choose your username</h1>
                
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="username" #username>
                    
                </div>

                <button class="btn btn-lg btn-primary btn-block" (click)="createPlayer(username.value)">
                    Play
                </button>
        </div>
        
        
        </div>
    </div>
</div>

