<div class="container">
    <div class="row login col-md-12" *ngIf="signup">
        <h1 class="form-signin-heading text-muted">Login</h1>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Login ID" #username
                (keyup.enter)="login(username.value, password.value)">
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="password" #password
                (keyup.enter)="login(username.value, password.value)">
        </div>
        <button class="btn btn-lg btn-primary btn-block" (click)="login(username.value, password.value)">
            Play
        </button>
    </div>
    <div class="row login col-md-12" *ngIf="!signup">
        <h1 class="form-signin-heading text-muted">Sign Up</h1>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" (keypress)="updateForm()" (blur)="updateForm()"
                placeholder="Login ID" required minlength="3" #newLog
                [ngClass]="{'is-invalid': 3 > ign.value.length, 'is-valid': ign.value.length > 3}">
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" (keypress)="updateForm()" (blur)="updateForm()" required
                minlength="3" placeholder="Ingame Name" #ign
                [ngClass]="{'is-invalid': 3 > ign.value.length, 'is-valid': ign.value.length > 3}">
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" (keypress)="updateForm()" (blur)="updateForm()" required
                minlength="3" placeholder="password" #newPass
                [ngClass]="{'is-invalid': (passValid.value != newPass.value) || (3 > passValid.value), 'is-valid': passValid.value == newPass.value}">
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" (keypress)="updateForm()" (blur)="updateForm()" required
                minlength="3" placeholder="verify password" #passValid
                [ngClass]="{'is-invalid': (passValid.value != newPass.value) || (3 > passValid.value), 'is-valid': passValid.value == newPass.value}">
        </div>
        <button class="btn btn-lg btn-primary btn-block"
            [disabled]="!((passValid.value === newPass.value) && newLog.value.length > 3 && ign.value.length > 3 && passValid.value.length > 3)"
            (click)="createAccount(newLog.value, ign.value, newPass.value)">
            Create Account
        </button>
    </div>
    <div class="login row col-md-12">
        <button class="btn btn-lg btn-primary btn-block" (click)="signup = !signup">
            {{signup ? 'Sign Up' : 'Login'}}
        </button>
    </div>
</div>