
<div *ngIf="websocket.activeRoom.game">
    <div class="game" [ngClass]="{'disabled': websocket.activeRoom.game.state === 'end'}">
        <div style="display: inline">
    
            {{websocket.activeRoom.game.state === 'end' ? 'The game has ended' : ('Your turn? : ' + websocket.activeRoom.game.yourTurn)}}
        
            <table id="board">
                <tr *ngFor="let row of websocket.activeRoom.game.board; let y = index">
                   <td *ngFor="let tile of row; let x = index" class="tile {{tile.type + '' + tile.multiplier}}" (click)="placeTile(x,y)">
                        <div class="gamePiece" *ngIf="tile.tile.letter">
                            <p class="tileLetter">{{tile.tile.letter}}</p>  <p class="tileValue">{{tile.tile.value}}</p>
                        </div>
                   </td>
                </tr>
            </table>
        
        
            <div class="hand"> 
                <div *ngFor="let tile of websocket.activeRoom.game.hand; let i = index;" (click)="selectTile(tile)" [ngClass]="{'selected': tile.selected, 'inplay' : tile.used, 'gamePiece': true, 'inhand' : true }">
                  <p class="tileLetter">{{tile.letter}}</p>  <p class="tileValue">{{tile.value}}</p>
                </div>    
            </div>
            
            <div *ngIf="websocket.activeRoom.state !== 'end'"> 
                <button class="btn btn-primary" id="makeMove" (click)="makeMove()">Play</button>
                <button class="btn btn-primary" id="passTurn" (click)="passTurn()">Pass</button>
                <button class="btn btn-primary" id="exchangeTiles" (click)="exchangeTiles()">{{exchangeMode ? "Disable" : "Enable"}} Exchange Mode</button>
                <button class="btn btn-primary" id="exchangeTurnBtn" (click)="exchangeTurn()" [disabled]="!exchangeMode">Exchange Selected</button>
            </div>
        
        </div>
    </div>
    
    <div class="scores">
    
        <table> 
            <tr *ngFor="let player of websocket.activeRoom.game.players">{{player.playerName}} : {{player.score}}</tr>
        </table>
    </div>
    
    
</div>
